body {
    margin: 0;
    padding: 0;
    background-image: url(styleUtilities/1.jpg);
    background-size: auto;
}

.main-container {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    background-color: rgb(255, 255, 255) ;
}